.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    background-color: white;
}

.grid-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.grid-item {
    align-self: center;
    padding: 40px;
}

.header_elm {
    display: inline-block;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 15px;
    padding-top: 60px;
    color: var(--color-title);
}

.text_elm {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
    
}